<div class="login-clean">
    <form #form="ngForm" (ngSubmit)="Login(form.value)" class="loginForm">
        <div class="alert alert-danger" role="alert" *ngIf="incorrectCredentials">
            {{alertText}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <h2 class="sr-only">Login Form</h2>
        <div class="illustration"><i class="icon ion-android-person icon-color"></i></div>
        <small *ngIf="emailError" class="form-text text-danger mb-1"><!-- Please enter a correct email address. --> Indtast en gyldig email adresse.</small>
        <mat-form-field class="loginEmailInput">
            <input matInput [ngClass]="{'is-invalid': emailError == true}" [(ngModel)] = "emailForValidate"
                (input)="validateEmail()" type="email" name="userEmail" placeholder="Email"
                autofocus="" autocomplete="on" inputmode="email">
        </mat-form-field>
        <mat-form-field class="loginPassInput">
            <input matInput ngModel type="password" name="userPassword" placeholder="Adgangskode">
        </mat-form-field>
        <button mat-button class="loginButton" type="submit">LOGIN</button>
        <a [routerLink]="['/forgotpassword']" routerLinkActive="router-link-active" class="forgot"><!-- Forgot your email or
            password? -->Glemt din adgangskode?</a>
    </form>
</div>
