<div class="login-clean">
  <form #form="ngForm" (ngSubmit)="changePassword(form.value)">
      <div *ngIf="emailErrorDiv" class="alert alert-danger" role="alert">
          {{emailErrorMessage}}
      </div>
      <div *ngIf="emailSuccess" class="alert alert-success" role="alert">
        {{successMessageText}}
    </div>
      <h2 class="sr-only">Login Form</h2>
      <div class="w-100 text-center forgot-pass">
          <h2>
            <!-- Forgot your password? -->
            Glemt din adgangskode?
          </h2>
      </div>
      <div class="w-100">
          <p style="font-size: 14px !important; font-family:'Open Sans' !important">
            <!-- Enter your email address below and we will send an email containing your password -->
            Indtast din email og vi vil sende dig et link til at nulstille din adgangskode.
          </p>
      </div>
      <div class="illustration"></div>
      <mat-form-field class="w-100">
          <mat-hint *ngIf="emailError" class="form-text text-danger mb-1">
              <!-- Please enter a correct email address. -->
            Indtast en gyldig email adresse.
          </mat-hint>
          <input matInput placeholder="Email" type="email" name="email"
                 inputmode="email" ngModel [ngClass]="{'is-invalid': emailError == true}"
                 (input)="validateEmail($event.target.value)"
                 autofocus="" autocomplete="on">
        </mat-form-field>
      <div class="w-100 mb-2">
        <button mat-button class="passwordChangeButton" type="submit">
            SEND
        </button>
      </div>
      <a [routerLink]="['/login']"
         routerLinkActive="router-link-active"
         class="forgot" style="font-family: 'Open Sans' !important; font-size: 14px;">
        <!-- Back to Login --> Tilbage til login siden.
      </a>
  </form>
</div>
