.passwordChangeButton {
    display: block;
    width: 100%;
    margin: 5px 0;
    background-color: #8a1702;
    color: white;
    font-size: 12px;
    font-weight: 700;
    padding: 12px 0;
    line-height: 20px;
  }

  .forgot-pass{
    font-size: 32px !important;
    line-height: 40px !important;
    font-weight: 400 !important;
    font-family: inherit !important;
  }