<app-header active="changepassword"></app-header>

<div class="login-clean">
  <form #form="ngForm" (ngSubmit)="ResetPassword(form.value)" class="changePasswordForm">
    <div class="alert alert-danger change_alert" style="width: 100%;" role="alert" *ngIf="passwordMismatchError">
      {{passwordErrortext}}
    </div>
      <div *ngIf="passwordChanged" class="alert alert-info change_alert w-100" role="alert">
        <!-- Password needs to be changed in order to continue -->
        Det er første gang du logger på og derfor nødvendigt, at du ændrer din adgangskode.

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="alert alert-success" role="alert" *ngIf="passwordChangeStatus">
      {{passwordChangedText}}
    </div>
    <h2 class="sr-only">Login Form</h2>
    <h3 class="changePasswordHeader">SKIFT ADGANGSKODE<br></h3>
    <br>
    <small *ngIf="passwordError" class="form-text text-danger mb-1"><!-- Minimum password length should be atleast 6 characters. --> Adgangskoden skal have en længde på minimum 6 tegn.</small>
    <mat-form-field class="example-full-width">
      <input matInput type="password" required="" ngModel
        [ngClass]="{'is-invalid': passwordError == true}"
        (input)="passwordChange($event.target.value)"
        name="newPassword" placeholder="Adgangskode">
    </mat-form-field>
    <small *ngIf="newPasswordError" class="form-text text-danger mb-1"><!-- Minimum password length should be atleast 6 characters. --> Adgangskoden skal have en længde på minimum 6 tegn.
      characters.</small>
    <mat-form-field class="example-full-width">
      <input matInput type="password" required="" ngModel
        [ngClass]="{'is-invalid': newPasswordError == true}"
        (input)="passwordChange1($event.target.value)" name="confNewPassword"
        placeholder="Indtast adgangskoden igen">
    </mat-form-field>
    <button mat-button class="passwordChangeButton" type="submit"><!-- CHANGE -->SKIFT</button>
    <button mat-button class="passwordCancelButton" (click)="cancel()"><!-- CANCEL -->ANNULLÉR</button>
   </form>
</div>
