.change_alert {
  width: 60%;
  text-align: center;
  margin: auto
}

.login-clean {
  height: calc( 100vh - 108px ) !important;
}

.changeButton {
  display: block;
    text-align: center;
    font-size: 16px;
    color: #6f7a85;
    opacity: 1;
    text-decoration: none;
}

.changePasswordForm {
  /* margin-top: 80px; */
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.passwordChangeButton {
  display: block;
  width: 100%;
  margin: 5px 0;
  background-color: #8a1702;
  color: white;
  font-size: 12px;
  font-weight: 700;
  padding: 12px 0;
  line-height: 20px;
}

.passwordCancelButton {
  display: block;
  width: 100%;
  margin: 5px 0;
  font-size: 12px;
  font-weight: 700;
  border: solid 1px black;
  padding: 12px 0;
  line-height: 20px;
}

.changePasswordHeader {
  font-size: 32px !important;
  line-height: 40px !important;
  font-weight: 400 !important;
  font-family: inherit !important;
  text-align: center;
}