<app-header active="mailcredentials"></app-header>

<div class="login-clean">
  <br>
  <form #form="ngForm" (ngSubmit)="ResetPassword(form.value)" class="emailCredentialForm">
    <div class="alert alert-success" role="alert" *ngIf="passwordChangeStatus">
      {{passwordChangedText}}
    </div>
    <div class="alert alert-danger change_alert" role="alert" *ngIf="passwordMismatchError">
      {{passwordErrortext}}
    </div>
    <div class="justify-content-center text-center">
      <h2 class="sr-only">Log ind</h2>
      <h3 class="changeEmailCredentialHeader"><!-- Change Email credentials-->Mail server<br></h3>
      <br>
      <mat-form-field class="inputFullWidth">
        <input matInput placeholder="Brugernavn" [(ngModel)]="email" required="" name="email" type="email">
      </mat-form-field>
      <mat-form-field class="inputFullWidth">
        <input matInput placeholder="Adgangskode" [(ngModel)]="password" required="" name="password" type="password">
      </mat-form-field>
      <mat-form-field class="inputFullWidth">
        <input matInput placeholder="SMTP server host name" [(ngModel)]="host" required="" name="host" type="email">
      </mat-form-field>
      <mat-form-field class="inputFullWidth">
        <input matInput placeholder="SMTP server port number" type="text" [(ngModel)]="port" required="" name="port">
      </mat-form-field>
      <button mat-button class="emailCredentialChangeButton" type="submit"><!-- save -->GEM</button>
    </div>
  </form>
</div>
